@{
    ViewData["Title"] = "Task Dashboard";
}

<style>
    .leftpanel-ul {
        list-style-type: none;
        padding-left: 5px;
        padding-top: 5px;
    }

        .leftpanel-ul li {
            text-align: center;
            color: gray;
            font-size: x-large;
            padding: 10px 10px;
            border-bottom: 2px solid #ddd;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-radius: 10px;
        }

            .leftpanel-ul li:hover {
                background-color: #5cb85c;
                color: white;
            }

    .card {
        border-bottom: 2px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-radius: 10px;
        margin-top: 5px;
        margin-right: 5px;
        height: 200px;
    }

    .form-group span {
        font-size: large;
        font-weight: 400;
        color: rgb(114, 111, 111);
        margin-top: 15px;
    }

    .form-group label {
        font-size: larger;
        font-weight: 500;
        color: rgb(114, 111, 111);
        margin-top: 15px;
    }

    .scrollable-content {
        height: 100%;
        overflow: auto;
    }

    textarea {
        width: 92%;
        height: 70%;
        padding: 5px 10px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;
        font-size: 14px;
        resize: none;
        margin-left: 20px;
    }
</style>

<div class="row">
    <div class="col-md-3" style="border-right: 1px solid #ddd; height: 80vh;">
        @*<ul class="leftpanel-ul">
            <li onclick="viewTaskFunc(1)">Not Claimed</li>
            <li onclick="viewTaskFunc(0)">Claimed</li>
            <li onclick="viewTaskFunc(2)">Claimed By Me</li>
            <li onclick="viewTaskFunc(3)">Submited</li>
        </ul>*@
        <div class="form-group">
            <input onclick="viewTaskFunc(1)" type="radio" class="btn-check" name="options" id="option0" autocomplete="off" checked>
            <label style="width:100%;" class="btn btn-outline-success" for="option0">Not Claimed</label>
        </div>
        <div class="form-group">
            <input onclick="viewTaskFunc(0)" type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
            <label style="width:100%;" class="btn btn-outline-success" for="option1">Claimed</label>
        </div>
        <div class="form-group">
            <input onclick="viewTaskFunc(2)" type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
            <label style="width:100%;" class="btn btn-outline-success" for="option2">Claimed By Me</label>
        </div>
        <div class="form-group">
            <input onclick="viewTaskFunc(3)" type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
            <label style="width:100%;" class="btn btn-outline-success" for="option3">Submited</label>
        </div>      
    </div>

    <div class="col-md-9" style="height: 80vh;">
        <div class="scrollable-content">
            <div id="card" class="container">
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 id="inpt"></h2>
            </div>
            <div class="modal-footer">
                <button onclick="conformOnClick()" data-bs-dismiss="modal" type="button" class="btn btn-success">Claim Task</button>       
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var claimTskId = "";
    var submitTskId = "";

    function onLoadFunc()
    {
        viewTaskFunc(1);
    }

    function viewTaskFunc(frm)
    {
        var bucket;

        const container = document.getElementById('card');
        container.textContent = '';

        $.ajax({
            method: "GET",
            url: "@Url.Action("getTask")",
            dataType: "json",
            success: function (data) {
                bucket = JSON.parse(data);

                for (i = 0; i < bucket.length; i++)
                {
                    if (frm == 0) {
                        if (bucket[i].TSK_ASSUSER != null && bucket[i].TSK_SBMTSTATUS == "false") {

                            $("#card").append('<div class="row" style="margin-bottom: 10px; border: 2px solid #007E33; border-radius: 5px; padding-bottom: 15px; ">\
                                                <div class="col-3">\
                                                    <div class="form-group">\
                                                        <label for="cmpnyID">Company ID :</label>\
                                                        <span id="cmpnyID">'+ bucket[i].TSK_COMID + '</span>\
                                                    </div>\
                                                    <div class="form-group">\
                                                        <label for="taskID">Task ID :</label>\
                                                        <span id="taskID">'+ bucket[i].TSK_ID + '</span>\
                                                    </div>\
                                                    <div class="form-group">\
                                                        <label for="stDate">Start Date :</label>\
                                                        <span id="stDate">'+ bucket[i].TSK_STDATE.substring(0, 10) + '</span>\
                                                    </div>\
                                                    <div class="form-group">\
                                                        <label for="endDate">End Date :</label>\
                                                        <span id="endDate">'+ bucket[i].TSK_ENDATE.substring(0, 10) + '</span>\
                                                    </div>\
                                                </div>\
                                                <div class="col-6">\
                                                    <div class="container">\
                                                        <div class="form-group">\
                                                            <label for="tskDisc">Discription :</label>\
                                                        </div>\
                                                    </div>\
                                                    <textarea readonly>'+ bucket[i].TSK_DESC + '</textarea>\
                                                </div>\
                                                <div class="col-3">\
                                                    <div class="container">\
                                                        <div class="form-group">\
                                                            <label for="priority">Priority :</label>\
                                                            <span id="priority">'+ bucket[i].TSK_PRIORITY + '</span>\
                                                        </div>\
                                                        <div class="form-group">\
                                                            <label for="assUser">Claimed by :</label>\
                                                            <span id="assUser">'+ bucket[i].TSK_ASSUSER + '</span>\
                                                        </div>\
                                                        <div class="form-group" style="padding-top:40px;">\
                                                             <button id="'+ bucket[i].TSK_ID + '" onclick="DownloadOnClick(this.id, 1)" type="button" style="bottom:0;width:100%;" class="btn btn-secondary">Sup. File Download</button>\
                                                        </div>\
                                                    </div>\
                                                </div>\
                                            </div>');
                        }
                    }
                    else if (frm == 1) {
                        if (bucket[i].TSK_ASSUSER == null) {
                            $("#card").append('<div class="row" style="margin-bottom: 10px; border: 2px solid #007E33; border-radius: 5px; padding-bottom: 15px; ">\
                                                <div class="col-3">\
                                                    <div class="form-group">\
                                                        <label for="cmpnyID">Company ID :</label>\
                                                        <span id="cmpnyID">'+ bucket[i].TSK_COMID + '</span>\
                                                    </div>\
                                                    <div class="form-group">\
                                                        <label for="taskID">Task ID :</label>\
                                                        <span id="taskID">'+ bucket[i].TSK_ID + '</span>\
                                                    </div>\
                                                    <div class="form-group">\
                                                        <label for="stDate">Start Date :</label>\
                                                        <span id="stDate">'+ bucket[i].TSK_STDATE.substring(0, 10) + '</span>\
                                                    </div>\
                                                    <div class="form-group">\
                                                        <label for="endDate">End Date :</label>\
                                                        <span id="endDate">'+ bucket[i].TSK_ENDATE.substring(0, 10) + '</span>\
                                                    </div>\
                                                </div>\
                                                <div class="col-6">\
                                                    <div class="container">\
                                                        <div class="form-group">\
                                                            <label for="tskDisc">Discription :</label>\
                                                        </div>\
                                                    </div>\
                                                    <textarea readonly>'+ bucket[i].TSK_DESC + '</textarea>\
                                                </div>\
                                                <div class="col-3">\
                                                    <div class="container">\
                                                        <div class="form-group">\
                                                            <label for="priority">Priority :</label>\
                                                            <span id="priority">'+ bucket[i].TSK_PRIORITY + '</span>\
                                                        </div>\
                                                        <div class="form-group" style="padding-top:20px;">\
                                                             <button id = "'+ bucket[i].TSK_ID + '" onclick = "DownloadOnClick(this.id)" type = "button" style = "bottom:0;width:100%;" class= "btn btn-secondary" > Sup.File Download</button>\
                                                            @*@Html.ActionLink("Downlaod", "DownLoadFile", "Home",new {tskId = ""})*@\
                                                        </div>\
                                                        <div class="form-group" style="padding-top:20px;">\
                                                            <button id="'+ bucket[i].TSK_ID + '" onclick="ActionOnClick(this.id, 2)" type="button" style="bottom:0;width:100%;" class="btn btn-success">Submit Task</button>\
                                                        </div>\
                                                    </div>\
                                                </div>\
                                            </div>');
                        }
                    }
                    else if (frm == 2) {
                        if (bucket[i].TSK_ASSUSER == "@User.FindFirst("User_ID").Value" && bucket[i].TSK_SBMTSTATUS == "false") {
                            $("#card").append('<div class="row" style="margin-bottom: 10px; border: 2px solid #007E33; border-radius: 5px; padding-bottom: 15px; ">\
                                                <div class="col-3">\
                                                    <div class="form-group">\
                                                        <label for="cmpnyID">Company ID :</label>\
                                                        <span id="cmpnyID">'+ bucket[i].TSK_COMID + '</span>\
                                                    </div>\
                                                    <div class="form-group">\
                                                        <label for="taskID">Task ID :</label>\
                                                        <span id="taskID">'+ bucket[i].TSK_ID + '</span>\
                                                    </div>\
                                                    <div class="form-group">\
                                                        <label for="stDate">Start Date :</label>\
                                                        <span id="stDate">'+ bucket[i].TSK_STDATE.substring(0, 10) + '</span>\
                                                    </div>\
                                                    <div class="form-group">\
                                                        <label for="endDate">End Date :</label>\
                                                        <span id="endDate">'+ bucket[i].TSK_ENDATE.substring(0, 10) + '</span>\
                                                    </div>\
                                                </div>\
                                                <div class="col-6">\
                                                    <div class="container">\
                                                        <div class="form-group">\
                                                            <label for="tskDisc">Discription :</label>\
                                                        </div>\
                                                    </div>\
                                                    <textarea readonly>'+ bucket[i].TSK_DESC + '</textarea>\
                                                </div>\
                                                <div class="col-3">\
                                                    <div class="container">\
                                                        <div class="form-group">\
                                                            <label for="priority">Priority :</label>\
                                                            <span id="priority">'+ bucket[i].TSK_PRIORITY + '</span>\
                                                        </div>\
                                                        <div class="form-group" style="padding-top:20px;">\
                                                             <button id = "'+ bucket[i].TSK_ID + '" onclick = "DownloadOnClick(this.id)" type = "button" style = "bottom:0;width:100%;" class= "btn btn-secondary" > Sup.File Download</button>\
                                                            @*@Html.ActionLink("Downlaod", "DownLoadFile", "Home",new {tskId = ""})*@\
                                                        </div>\
                                                        <div class="form-group" style="padding-top:20px;">\
                                                            <button id="'+ bucket[i].TSK_ID + '" onclick="ActionOnClick(this.id, 2)" type="button" style="bottom:0;width:100%;" class="btn btn-success">Submit Task</button>\
                                                        </div>\
                                                    </div>\
                                                </div>\
                                            </div>');
                        }
                    }
                    else if (frm == 3) {
                        if (bucket[i].TSK_SBMTSTATUS == "true")
                        {
                            $("#card").append('<div class="row" style="margin-bottom: 10px; border: 2px solid #007E33; border-radius: 5px; padding-bottom: 15px; ">\
                                                <div class="col-3">\
                                                    <div class="form-group">\
                                                        <label for="cmpnyID">Company ID :</label>\
                                                        <span id="cmpnyID">'+ bucket[i].TSK_COMID + '</span>\
                                                    </div>\
                                                    <div class="form-group">\
                                                        <label for="taskID">Task ID :</label>\
                                                        <span id="taskID">'+ bucket[i].TSK_ID + '</span>\
                                                    </div>\
                                                    <div class="form-group">\
                                                        <label for="stDate">Start Date :</label>\
                                                        <span id="stDate">'+ bucket[i].TSK_STDATE.substring(0, 10) + '</span>\
                                                    </div>\
                                                    <div class="form-group">\
                                                        <label for="endDate">End Date :</label>\
                                                        <span id="endDate">'+ bucket[i].TSK_ENDATE.substring(0, 10) + '</span>\
                                                    </div>\
                                                </div>\
                                                <div class="col-6">\
                                                    <div class="container">\
                                                        <div class="form-group">\
                                                            <label for="tskDisc">Discription :</label>\
                                                        </div>\
                                                    </div>\
                                                    <textarea readonly>'+ bucket[i].TSK_DESC + '</textarea>\
                                                </div>\
                                                <div class="col-3">\
                                                    <div class="container">\
                                                        <div class="form-group">\
                                                            <label for="priority">Priority :</label>\
                                                            <span id="priority">'+ bucket[i].TSK_PRIORITY + '</span>\
                                                        </div>\
                                                        <div class="form-group">\
                                                            <label for="assUser">Submited by :</label>\
                                                            <span id="assUser">'+ bucket[i].TSK_ASSUSER + '</span>\
                                                        </div>\
                                                    </div>\
                                                </div>\
                                            </div>');
                        }
                    }
                }
            },
            error: function (req, status, error) {

            }
        });
    }

    function ActionOnClick(id, action)
    {
        var myModal = document.getElementById('exampleModal')

        if (action == 1)
        {
            claimTskId = id;
            document.getElementById("inpt").innerHTML = 'Are you sure you want to claim "' + id + '"?';
        }
        else
        {
            submitTskId = id
            document.getElementById("inpt").innerHTML = 'Are you sure you want to submit "' + id + '"?';
        }
        $(myModal).modal("show");
    }

    function conformOnClick()
    {
        if (claimTskId != "" && submitTskId == "") {
            $.ajax({
                method: "POST",
                url: "@Url.Action("claimTask")",
                data: { "tskId": claimTskId },
                success: function (data) {
                    viewTaskFunc(1);
                },
                error: function (req, status, error) {

                }
            });
        }
        else if (submitTskId != "" && claimTskId == "")
        {
            $.ajax({
                method: "POST",
                url: "@Url.Action("submitTask")",
                data: { "tskId": submitTskId },
                success: function (data) {
                    viewTaskFunc(2);
                },
                error: function (req, status, error) {

                }
            });
        }

        claimTskId = "";
        submitTskId = "";
    }

    function DownloadOnClick(id)
    {
        var bucket;
        $.ajax({
                method: "GET",
                url: "@Url.Action("DownLoadFile")",
                data: { "tskId": id },
                success: function (data)
                {
                    bucket = JSON.parse(data);

                    var a = document.createElement("a");
                    a.href = "data:application/pdf;base64," + bucket;
                    a.download = id + " Documents.pdf";
                    a.click();
                },
                error: function (req, status, error) {

                }
            });
    }

</script>